name: "Deploy (Production)"
on:
  push:
    branches:
      - main
  workflow_dispatch:
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: pnpm

      - name: Install
        run: |
          cd ${{ github.workspace }}
          pnpm install

      - name: Lint
        run: |
          pnpm lint-all

      - name: Deploy
        run: |
          pnpm vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
          pnpm vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
          pnpm vercel deploy --prod --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
