name: "Vercel Preview and Storybook Test"
on:
  pull_request:
  workflow_dispatch:
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
jobs:
  preview:
    name: Preview and Test
    env:
      vercel_token: ${{ secrets.VERCEL_TOKEN }}
    runs-on: ubuntu-latest
    environment:
      name: Storybook Preview
      url: ${{ steps.deploy.outputs.url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install
        run: |
          cd ${{ github.workspace }}
          yarn install --immutable

      - name: Lint
        run: |
          yarn lint-all

      # These steps don't work unless a repository owner opened the PR
      - name: Deploy
        if: ${{ env.vercel_token != '' }}
        run: |
          yarn vercel pull --yes --token=${{ secrets.VERCEL_TOKEN }}
          yarn vercel build --token=${{ secrets.VERCEL_TOKEN }}
          yarn vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}

      - id: deploy
        if: ${{ env.vercel_token != '' }}
        run: echo "url=$(yarn vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }})" >> "$GITHUB_OUTPUT"

      - name: Storybook Test
        if: ${{ env.vercel_token != '' }}
        run: |
          yarn workspace qwik-app test-storybook
        env:
          TARGET_URL: "${{ steps.deploy.outputs.url }}"
